#sendData {
	border: solid 2px black;
	color: black;
	font-size: 4vw;
	background: #dd4335;
	margin: 0 auto;
	display: block;
}

#sendData:hover {
	background: #db746b;
}

#appName {
	font-size: 4vw;
	text-align: center;
	margin: 0 auto;
	display: block;

}
